# Homework 6

In [64]:
import requests
import datetime
import json
import pandas as pd

# BINANCE API

What is the root URL?

In [65]:
root_url_binance = "https://api.binance.com"

What is the endpoint to retrieve klines (open-high-low-close data) for a specific cryptocurrency?

In [66]:
endpoint_binance = "api/v3/klines"

Specify a request string to retrieve 75 observations of klines data for BTCUSDT since 2022-09-01.

In [67]:
start_day = int((datetime.datetime(2022,9,1)- datetime.datetime(1970,1,1)).total_seconds())*1000
print(start_day)

1661990400000

In [68]:
request_string = "{root_url}/{endpoint}?symbol={currencypair}&interval={interval}&startTime={startTime}&limit={limit}" \
        .format(root_url=root_url_binance,
                endpoint=endpoint_binance,
                currencypair="BTCUSDT",
                interval="1m", 
                startTime=start_day,
                limit=75)
print(request_string)

https://api.binance.com/api/v3/klines?symbol=BTCUSDT&interval=1m&startTime=1661990400000&limit=75

Write a function (in Python, R or Julia) that retrieves 75 observations of klines data for a generic currency pair since a generic date. The function should take the currency pair and start date as input parameters.

In [69]:
def klinefunc(currency_pair,start_year,start_month,start_day):
    start_day = int((datetime.datetime(start_year,start_month,start_day)- datetime.datetime(1970,1,1)).total_seconds())*1000
    
    url = 'https://api.binance.com/api/v3/klines'

    currencyPair = currency_pair
    startDate = start_day

    params = {'symbol': currencyPair,'startTime': startDate,'interval': '1m',  'limit': 75}
      
    resp = requests.get(url,params=params)
    kline = pd.DataFrame.from_records(resp.json())[[1,2,3,4]]
    kline = kline.rename(columns={1: "Open", 2: "High", 3: "Low", 4: "Close"})
    return kline

In [70]:
klinefunc("BTCUSDT",2022,9,1)

              Open            High             Low           Close
0   20048.44000000  20057.33000000  20023.43000000  20025.37000000
1   20025.06000000  20038.79000000  20004.06000000  20036.92000000
2   20036.90000000  20077.96000000  20020.22000000  20072.85000000
3   20072.85000000  20114.85000000  20070.75000000  20112.33000000
4   20112.34000000  20117.34000000  20082.51000000  20114.18000000
..             ...             ...             ...             ...
70  20108.70000000  20109.66000000  20090.15000000  20097.75000000
71  20097.75000000  20108.00000000  20091.11000000  20094.63000000
72  20094.63000000  20101.77000000  20079.61000000  20098.49000000
73  20097.35000000  20107.45000000  20090.38000000  20096.35000000
74  20096.35000000  20097.22000000  20066.12000000  20067.70000000

[75 rows x 4 columns]

# FRED API

What is the root URL?

In [75]:
root_url_fred= 'https://api.stlouisfed.org'

What is the endpoint to retrieve time series observations?

In [76]:
endpoint_fred = "fred/series/observations"

Construct a query string to retrieve the series of the monthly unemployment rate (seasonally adjusted) since 2020-01. Use the fake API key abc123 in the query string.

In [81]:
fake_api_key="abc123"

In [82]:
request_string_fred = "{root_url}/{endpoint}?series_id={series_id}&api_key={api_key}&observation_start={observation_start}&file_type={file_type}" \
        .format(root_url=root_url_fred,
                endpoint=endpoint_fred,
                series_id="UNRATE",
                api_key="abc123", 
                observation_start="2020-01-01",
                file_type="json")
print(request_string_fred)

https://api.stlouisfed.org/fred/series/observations?series_id=UNRATE&api_key=abc123&observation_start=2020-01-01&file_type=json